.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #e5e7e9;
  height: 200px;
  padding: 1.5em;
}

p {
  font-size: 10px;
}

a {
  text-decoration: none;
  color: #fefeff;
}
